.nav-bar {
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
  }
  .logo {
    height: 200px;
    width: 200px;
    padding: 30px;
    border: 1px solid black;
  }
  
  .image-logo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }